[core]
  pager         = most +s +'/---'
  excludesfile  = ~/.gitignore
[alias]
  am       = commit -v --amend
  br       = branch
  branches = branch -a
  ci       = commit -v
  co       = checkout
  d        = diff --word-diff
  lc       = show -s --format     = '%ct' HEAD
  lg       = log --graph --pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date = relative
  lp       = log --graph --pretty = format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date                    = relative
  m        = merge
  rb       = rebase
  remotes  = remote -v
  root     = !pwd
  s        = status -s
  sci      = dcommit -v
  srb      = svn rebase
  st       = stash
  sta      = stash apply
  stls     = stash list
  stp      = stash pop
  sts      = stash save
  tags     = tag -l
  undo     = reset --soft HEAD^
  unstage  = reset HEAD --
[diff]
  mnemonicprefix = true
