
html, body {
  height: 100%;
  margin: 0;
}

body {
  background: rgb(48, 64, 79);
  color: white;
  font-family: Lato;
  font-size: 120%;
  text-align: center;
}

article {
  max-width: 460px;
  margin: 0 auto;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.prompt {
  display: block;
  font-family: Lato;
  font-weight: 900;
  font-size: 6em;
  text-decoration: none;
}
  .prompt .char {
    color: rgb(252, 213, 48);
    text-shadow: 0 2px 0 rgb(180, 130, 0)
      , 0 3px 0 rgb(180, 130, 0)
      , 0 14px 20px rgba(0, 0, 0, 0.5);
  }
  .prompt .pkg {
    color: white;
    text-shadow: 0 2px 0 grey
      , 0 3px 0 grey
      , 0 14px 20px rgba(0, 0, 0, 0.5);
  }

pre code {
  background: rgba(0, 0, 0, 0.2) !important;
  border-radius: 4px;
  font: 12px Monaco;
}


footer {
  font-size: 0.75em;
  text-align: right;
}
